#section_1{
  position: sticky;
  top: 0px;
  z-index: 100;
  background: #fff;
}

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.logo-image {
    width: 14%;
}

.logo-image img{
    width: 100%;
    height: 100%;
}

.nav-links li{
    text-decoration: none;
    list-style-type: none;
    margin: 10px 15px;
    font-size: 15px;
}

.nav-links li a{
    color: black;
    font-weight: 600;
}

.nav-links li a:hover{
    color: rgb(42, 62, 104);
    text-decoration: none;
}

.search {
    margin-left: 15px;
    width: 0%;
    padding: 8px 15px;
}

.search-field{
    border-radius: 12px;
    outline: none;
    padding: 8px 15px;
    transition: 0.2s ease;
    width: 0px;
    border: none;
    background: #e0e0e0;
    position: absolute;
    right: 200px;
    top: 70px;
    opacity: 0;
    z-index: 50;
}

/* Hamburger */
#ham-burger{
  display: none;
  font-size: 24px;
  color: black;
}


/* For smaller screens */
@media (max-width: 768px) {

  .search{
    margin-right: 70px;
  }

  .nav-links li {
      margin: 12px 0;
  }

  #ham-burger{
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 15px;
    display: block;
  }

  .nav-toggle {
      display: block;
      cursor: pointer;
  }

  .nav-links{
    display: none;
    flex-direction: column;
    background-color: white;
    position: fixed;
    left: 770px;
    text-align: center;
    width: 60%;
    border-radius: 20px;
    top: 37px;
    z-index: 999;
    transition: 0.5s ease;
  }
  
  .active{
    left: 310px;
  }

  .search-field {
      right: 100px;
      top: 10px;
  }
}

.menu.active {
  display: flex;
}

@media (min-width: 320px) and (max-width: 426px){
  #ham-burger{
    font-size: 13px;
    position: absolute;
    right: 10px;
    top: 8px;
    display: block;
  }

  .search{
    font-size: 13px;
    /* position: absolute; */
    right: 30px;
  }

  .nav-links{
    display: none;
    flex-direction: column;
    background-color: white;
    position: fixed;
    left: 430px;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    top: 37px;
    z-index: 999;
    transition: 0.5s ease;
  }
  
  .active{
    left: 0px;
  }
}
